.container{
    max-width: 90%;
    
    margin: auto;
    background-color: #76d9f6;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo svg{
    padding-top:5%;
    padding-left: 20px;
}
.hinhlogo img{
    width: 400px;
    height: 400px;
}
.button{
    padding-left: 20%;
    padding-bottom: 20%;
}
.button button{
    border-radius: 15px;
    width: 200px;
    height: 40px;
    font-family: 'Luckiest Guy',cursive;
    font-size: 15px;
    box-shadow: 0 0 20px #918383;
}
.button button:hover{
    box-shadow: 0 0 15px #f2fafd;
    transform: scale(1.05);
    transition: all 0.3s ease;
}